@function trans($arg) {
  @return $arg 0.2s ease-out;
}

$color_1:#5f27cd;
$color_2:#1dd1a1;
$color_3:#acacac;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app__title {
  font-size: 1.5rem;
  color: $color_1;
  margin-top: 4rem;
  margin-bottom: 4.8rem;
  text-transform: uppercase;
}

.card {
  width: 28rem;
  height: 26.25rem;
  border-radius: 1rem;
  border: 1px solid $color_1;
  position: relative;
  transition: trans(transform);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.36);

  &::before {
    content: '';
    width: 100%;
    height: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color_1;
    opacity: 0.2;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid $color_3;
    z-index: -1;
    transition: trans(background-color);
  }
}

.user__img {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #fff;
  margin-top: 1.7rem;
  margin-bottom: 2.625rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover .newuser__btn {
    top: 50%;
  }

  &:hover img {
    filter: blur(2px);
  }

  img {
    border-radius: 50%;
    width: 100%;
    transition: filter 0.2s linear;
    object-fit: cover;
  }

  .newuser__btn {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background: none;
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba($color_2, 0.6);
    border-radius: 50%;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: top 0.3s cubic-bezier(.23, .87, .59, 1.22);
    cursor: pointer;
  }
}

.user__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.user__info__titles {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-right: 2.5rem;

  &::after {
    content: '';
    width: 2px;
    height: 11.5rem;
    position: absolute;
    background-color: $color_1;
    top: 0;
    right: -1rem;
    border-radius: 2px;
  }

  .arrow {
    position: absolute;
    top: 0.35rem;
    right: -1.6rem;
    width: 0;
    height: 0;
    border: 0.6rem solid transparent;
    box-sizing: border-box;
    border-color: transparent transparent transparent $color_1;
    border-right-width: 0;
    transition: top 0.3s cubic-bezier(.23, .87, .59, 1.22);
  }

  .title {
    display: block;
    padding: 0.3rem 0;
    cursor: pointer;
    font-size: 1.125rem;
    color: $color_3;
    transition: trans(color);

    &:hover {
      color: $color_1;
    }
  }
}

.user__info__details {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .detail {
    display: block;
    padding: 0.3rem 0;
    font-size: 1.125rem;
    color: $color_3;
    filter: blur(3px);
    transition: trans(all);

    &.select {
      color: $color_2;
      filter: blur(0px);
    }
  }
}